VITE_API_URL=http://localhost:8000
VITE_APP_NAME=KWISMO
VITE_DEFAULT_LANG=fr
VITE_USE_MOCK=true

VITE_FIREBASE_API_KEY=AIzaSyB650kDg93Evb67IFKWFfK9AsQCqFPuQBg
VITE_FIREBASE_AUTH_DOMAIN=kwismo-app.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=kwismo-app
VITE_FIREBASE_STORAGE_BUCKET=kwismo-app.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=838404636402
VITE_FIREBASE_APP_ID=1:838404636402:web:665620e3c80bf4b8cd9a6b
VITE_FIREBASE_MEASUREMENT_ID=G-3P7W3ZQZ1Q

